params {
  input = "$launchDir/input/"
  samplesheetFileName = "samplesheet.csv"
  outDir = "$launchDir/output"
  platformBamFile = "$launchDir/input/BLAH.bam"
  platformBaiFile = "$launchDir/input/BLAH.bai"
  peakFinderArgs = "1 2 3 4 5"
  workflowDataDir = "WORKFLOW_DATA_DIR"
  gusConfigFile = "gus.config"
}


process {
  maxForks = 4
}
